* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#main {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
}
#c1 {
  flex: 1 1;
  display: flex;
}
#background-image {
  height: 100%;
  width: 100%;
}
#c2 {
  flex: 2;
  background-color: #f9fafb;
  background-color: #f9fafb;
  height: 100%;
  flex-direction: column;
}

#header {
  color: black;
  padding: 5em 3em 3em 3em;
}
#form-container {
  display: flex;
  flex-direction: column;
  padding-top: 1em;
  padding-left: 3em;
  padding-right: 5em;
  padding-bottom: 2em;
  background-color: #ffffff;
}
#form-container > h3 {
  margin-bottom: 1em;
}
.fieldset {
  border: none;
  display: flex;
  align-items: center;
  gap: 3em;
}
label,
input {
  display: block;
  margin-top: 0.5em;
}
label {
  font-size: 12px;
}
button {
  margin-left: 4em;
  margin-top: 1em;
  background-color: #596d48;
  color: #FAFAF9;
  width: 15em;
  height: 3em;
  font-weight: bold;
}
