* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html,
#main {
  width: 100%;
  height: 100%;
}

#main {
  display: flex;
}
#c1 {
  flex: 1 1;
  display: flex;
}
#background-image {
  height: 100%;
  width: 100%;
}
#c2 {
  flex: 2;
  background-color: #f9fafb;
  background-color: #f9fafb;
  height: 100%;
  flex-direction: column;
}

#header {
  color: black;
  padding: 7em 3em 3em 3em;
}
#form-container{
    display: flex;
    flex-direction: column;
    padding-top: 1em;
    padding-left: 3em;
    background-color: #FFFFFF;
}
