body,
html {
  height: 100%;
  width: 100%;
}

#sidebar {
  flex: 1;
  background-color: #fedfe1;
  color: #8b2c33;
}

#content {
  flex: 5;

  border: solid 1px black;
  color: #fedfe1;
  background-color: #1e1e1e;
}
.modal {
  color: #8b2c33;
}
.card {
  background-color: #1e1e1e;
  color: #fedfe1;
  border-bottom: 2px solid #dffefc;
}
.row{
  flex-wrap: ;
}
