* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body,
html {
  width: 100%;
  height: 100%;
}
#main {
  display: flex;
  height: 100%;
  width: 100%;
}
#navbar {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 1em;
}
#navbar>div{
  display: flex;
  align-items: center;
  gap: 1em;
  margin-top: 1em;
}
#navbar > div > img:not(#title_icon) {
  width: 1.5em;
}

#title_icon {
  width: 2em;
}
#dashboard {
  flex: 2;
}
