* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
  width: 100%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
#calculator {
  display: flex;
  flex-wrap: wrap;
  width: 280px;
  height: 515px;
  flex-direction: column;
  background-color: #383838;
}
#screen {
  flex: 1;
  background-color: #404040;
  color: white;
  font-size: xx-large;
  display: flex;
  align-items: flex-end;
  
}
#buttons {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: fit-content;
  gap: 0.5em;
  padding: .5em;
  justify-content: center;
}
#buttons > button {
  height: 2.5em;
  width: 58px;
  background-color: #454545;
  color: white;
  font-size: large;
  border: none;
}
#row1 {
  display: flex;
  width: 100%;
  gap: .5em;
  justify-content: center;
  align-items: center;
  padding: .5em;
}
#row1 > button {
  background-color: #454545;
  color: white;
  font-size: large;
  border: none;
  flex: 1;
  height: 2.5em;

}
