* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
}
#header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 1em;
}
#main {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5em;
}
#board {
  display: grid;
  grid-template: 1fr 1fr 1fr/1fr 1fr 1fr;
  width: 300px;
  height: 300px;
}
.square {
  border: solid 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.off {
  display: none;
}
.on {
  display: block;
}
